
.calendar-2-16-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('/images/calendar_2_icon&16.png') no-repeat 0 0;
}


.cd-calendarview-grid-day {
  width: 15px;
  height: 15px;
  padding: 2px;
  margin: 2px;
  display: inline-block;
  background-color: #eee;
  text-align: left;
}
.cd-calendarview-grid-day.fade {
  background-color: #ddd;
}
.cd-calendarview-grid-day.selected-day {
  background-color: #222;
  color: #fff;
}

.cd-calendarview {
  /*position: fixed;*/
  /*
  position: fixed;
  display: inline-block;
  */
}
.cd-calendarview-container {
}
.cd-calendarview-body {
  text-align: center;
}
.cd-calendarview-header {
  height: 30px !important;
  text-align: center;
}
.cd-calendarview-button {
  /* width: 70px !important; */
  height: 25px !important;
  margin: 0 !important;
}

.cd-calendarview-button label {
  margin: 0 !important;
}
.cd-calendarview-header-span {
}

.cd-calendarview-button.left {
  float: left !important;
}
.cd-calendarview-button.right {
  float: right !important;
}
